# ============================
# PYTHON
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ============================
# ENTORNO VIRTUAL
# ============================
venv/
.venv/
env/

# ============================
# BASES DE DATOS
# ============================
*.db
*.sqlite
*.sqlite3

# ============================
# ARCHIVOS TEMPORALES
# ============================
*.tmp
*.bak
*.swp

# ============================
# EXCEL GENERADO
# ============================
*.xlsx
*.xlsm

# ============================
# BUILD / EXE
# ============================
build/
dist/
*.spec

# ============================
# SISTEMA OPERATIVO
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE
# ============================
.vscode/
.idea/
